
<footer class = "main">
    <div class = "team">
        <h3>Team</h3>
        
          <ul>
            <li class="item">Akhilesh CM</li>
            <li class="item">Anoushk Reddy</li>
            <li class="item">Sandhiya K</li>
            <li class="item">Sujitha C</li>
          </ul>
        
    </div>
    <div class = "links">
        <h3>Quick links</h3>
        <ul >
          <li class="item"><a routerLink="/about" style="text-decoration: none; color: inherit">About Us</a></li>
          <li class="item"><a routerLink="/contact" style="text-decoration: none; color: inherit">Contact Us</a></li>
          
        </ul>
    </div>
  <div><hr style="color: white; width: 100%"></div>
  <p>Copyright &copy; 2021. All Rights Reserved by <i style="color:rgb(202, 255, 197)">Name to be decided</i></p>
</footer>
