<p>admin-dashboard works!</p>

<div>
    <div class="content">
        <a routerLink="/farmerrequests" style="color: floralwhite;">Farmer Pending Requests</a><br>
        <a routerLink="/listfarmers" style="color: floralwhite;">List of Farmers</a><br>
        <a routerLink="/bidderrequests" style="color: floralwhite;">Bidder Pending Requests</a><br>
        <a routerLink="/listbidders" style="color: floralwhite;">List of Bidderss</a><br>
        <a routerLink="/croprequests" style="color: floralwhite;">Crop Requests</a><br>
        <a routerLink="/auction" style="color: floralwhite;">View Auction</a><br>
        <a routerLink="/viewpolicy" style="color: floralwhite;">View Policy</a><br>
        <a routerLink="/auction" style="color: floralwhite;">View Claim Requests</a><br>

    </div>    
  </div>