
<div class="container-fluid">
  <div class="container">
    <h2>Apply for Policy</h2>
    <form (ngSubmit)="onCalculate()" #addForm="ngForm">
      <div class="form-group">
        <label for="crop type">Year:</label>
        <select
          class="form-control"
          id="inputPassword3"
          placeholder="Year"
          name="year"
          id="year"
          [(ngModel)]="insurance.year"
          #year="ngModel"
        >
          <option value="2020" selected>2020</option>
          <option value="2021">2021</option>
        </select>
      </div>
      <div class="form-group">
        <label for="crop name">Season:</label>
        <select
          type="text"
          class="form-control"
          name="Season"
          id="season"
          placeholder="Season"
          [(ngModel)]="insurance.season"
          #season="ngModel"
        >
          <option value="Kharif">Kharif</option>
          <option value="Rabi" selected>Rabi</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fertilizer type">Crop Name</label>
        <input
          type="text"
          class="form-control"
          name="cropname"
          placeholder="Crop Name"
          required
          pattern="[a-z]{3,10}"
          [(ngModel)]="insurance.crop_name"
          #name="ngModel"
        /><br />
        <span *ngIf="name.touched && name.invalid" class="alert-warning">
          Invalid Crop Name
        </span>
      </div>
      <div class="form-group">
        <label for="msp">Sum Insured(₹) :</label>
        <input
          type="number"
          class="form-control"
          min="20000"
          step="1000"
          id="sum"
          name="sumInsured"
          [(ngModel)]="insurance.sumInsured"
        />
      </div>
      <div class="form-group">
        <label for="Quantity">Area(in Hectares):</label>
        <input
          type="number"
          class="form-control"
          min="0.5"
          step="0.5"
          id="Area"
          name="Area"
          [(ngModel)]="insurance.policyCropArea"
        />
      </div>
      <button
        type="reset"
        class="btn btn-warning action ml-8"
        style="margin-left: 100px"
      >
        Reset
      </button>
      <button
        type="submit"
        class="btn btn-info action ml-20"
        style="margin-left: 200px"
      >
        Calculate
      </button>
    </form>
  </div>

  <div class="card" [hidden]="!flag">
    <div class="table-responsive-md">
      <table class="table table-bordered table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Company</th>
            <th>Sum/Hectare</th>
            <th>Crop Type</th>
            <th>Crop Name</th>
            <th>Premium (₹)</th>
            <th>Share Premium (₹)</th>
            <th>Area</th>
            <th>Sum Insured (₹)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ insurance.policyCompany }}</td>
            <td>{{ insurance.sumPerHectare }}</td>
            <td>{{ insurance.season }}</td>
            <td>{{ insurance.crop_name }}</td>
            <td>{{ insurance.policyPremiumAmount }}</td>
            <td>{{ insurance.policySharedPremium }}</td>
            <td>{{ insurance.policyCropArea }}</td>
            <td>{{ insurance.sumInsured }}</td>
            <td>
              <button (click)="onApply()" type="button" class="btn btn-success">
                Apply
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
