<div class="content">
    <div class="title">
      About us
    </div>

    <div>
    
      <div class="title-sub">
       <i> #Name</i>
      </div>
      <div class="content-main">
      #Name is the distribution channel that concerns the difficulties faced by the farmers thereby establishing sound solutions for them. We at #Name believe that farmers are the makers of the country’s economy and thereby establishing a clean pool for agriculture is requisite. #Name is delectation that’s the main motto is to provide fair trading to farmers by auctioning their crops to a great deal.
      </div>
      <div class="title-sub">
        <i>What do we do?</i>
      </div>
      <div class="content-main">
      Our technology solutions aim to offer good deals for farmers by auctioning the crops and channelize them to verified buyers at the best market rate. We associate with farmers to provide them direct market linkages to retailers and avert the hurdle of intermediaries. Our key feature is offering an insurance policy for farmers which offers them secure trading with full assurance of returns.
    </div>
     
      <div class="title-sub">
        <i>The Fast supply chain</i>
      </div>
      <div class="content-main">
      A high level of uncertainty prevails in producing and supplying perishable goods.  The fast supply chain systems at #name liberate the difficulties of small farmers through swift operation and deliver them to the desired groups in time without loss.
    </div>
    
    
  </div>
  </div>