<div>
    <div class="content">
      <div class="title">
        Contact Us
      </div>
      
      
      <div class="main">
        <h2 class="hed">#NAME</h2><br/>
        <p>
            <span> &nbsp;
            </span>
            Plot No. 20, Jawahar Nagar, Rajawadi, S. V. Road, Goregaon West, Mumbai - 400104, Maharashtra
            <br>
        </p>
        <hr/>
        <p>
            <span> &nbsp;</span>
            Help Desk No.: 1-800-3454-001
            <br>
        </p>
        <hr/>
        <p>
            <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            +91-11- 21111117
        </p>
        <hr/>
        <p>
            <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
            Email id- #name@gmail.com 
            
        </p>
        <hr/>
        <p>   
            Office Time: 10:00 AM. to 06:00 PM.
        </p>
        <hr/>
      
      
      </div>
    </div>
  </div>

  
  