<p>crop-sell-request works!</p>

<div class="container custom-container-2">

    <!-- Show it when there is no pending requests -->
    <div *ngIf="crops.length == 0">
        <p>There is no pending requests</p>
    </div>

   
    <div *ngIf="crops.length !== 0">
        <h3>Crops for Sell Request</h3>

        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th scope="col">Farmer Id</th>
                        <th scope="col">Crop Id</th>
                        <th scope="col">Crop name</th>
                        <th scope="col">Crop Base Pricee</th>
                        <th scope="col">Crop Quantity</th>
                        <th scope="col">Fertilizer</th>
                        <th scope="col">soil PH</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of crops">
                        <td>{{x.farmer.userId}}</td>
                         <td>{{x.cropId}}</td>
                        <td>{{x.cropName}}</td>
                        <td>{{x.cropBasePrice}}</td>
                        <td>{{x.cropQuantity}}</td>
                        <td>{{x.fertilizer}}</td>
                        <td>{{x.soilPH}}</td>
                        <td><button (click)="acceptCrop(x.farmer.userId,x.cropId)">Approve</button>
                            &nbsp;
                            <button (click)="rejectCrop(x.farmer.userId,x.cropId)">Reject</button></td>
                     
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
