<div>
  <div class="content">
    <div class="title">Welcome to #NAME!</div>
    <div class="tagline">
      <i>where quality meets fair trade</i>
    </div>

    <table>
      <tr>
        <td>
          <a routerLink="/about" style="
              color: inherit;
              text-decoration: none;
              display: block;
              height: 100%;
            ">
            <div class="regbtn">Farmer Registration</div>
          </a>
        </td>
        <td>
          <a routerLink="/about" style="
              color: inherit;
              text-decoration: none;
              display: block;
              height: 100%;
            ">
            <div class="regbtn">Bidder Registration</div>
          </a>
        </td>
      </tr>
    </table>
   <div>
    <div class="about-content">
      <p class="item-1">
        <i>Standard Dealing</i><br>
        <i>The verified goods and crops are auctioned to ensure maximum returns to farmers.</i>
      </p>

      <p class="item-2">
        <i>Competitive market quality</i><br>
        <i>Quality is our holistic objective. The contentment of the retailers is our obligation.</i>
      </p>

      <p class="item-3">
        <i>Timely payments</i><br>
        <i>Time is money. Return of payments at the appropriate time in our best policy.</i>
      </p>
      <p class="item-4">
        <i>Insurance policy</i><br>
        <i>#Name rules out the loss term by providing the opportunity to avail for insurance.</i>
      </p>
     
    </div>
  </div>

  </div>
</div>